@model IEnumerable<login_access.Models.UserSubmitModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoolDB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwesomeDB)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.Email)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoolDB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwesomeDB)
        </td>
        <td>
            @Html.ActionLink("Approve", "Approve", new { id=item.id }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
