@model UserSubmitModel

@{
    ViewBag.Title = "Index";
}

@using login_access.Models
<br>
<br>

@using (Html.BeginForm("SubmitRequest", "UserAccess", FormMethod.Post))
{
    <div>
        @Html.Label("Enter name: ") <br />
        @Html.TextBoxFor(m => m.Name, new { @class = "text", required = "required"})
    </div><br />
    <div>
        @Html.Label("Enter email:") <br />
        @Html.TextBoxFor(m => m.Email, new { @class = "text", @type = "email", required = "required"} )
    </div><br />
    <div>
        @Html.Label("Why should you get access to these databases: ")<br />
        @Html.TextBoxFor(m => m.Comment, new { @class = "text", required = "required" })
    </div><br />
    <div>
        @Html.Label("Check the databases you want access to: ")<br>
        <div>
            <p>CoolDB @Html.CheckBoxFor(m => m.CoolDB)</p>
        </div>
        <div>
            <p>AwesomeDB @Html.CheckBoxFor(m => m.AwesomeDB)</p>
        </div>
    </div>

    <input type="submit" value="Request access" />
}
